/*---CONTAINER---*/
.search {
  overflow: hidden;
}

/*---NOME DO SITE---*/
.site-name {
  font-size: 1rem;
  padding: 1rem 0;
}

.site-name h1 {
  margin: 0;
  text-align: center;
}

/*---PESQUISA---*/
.search-bar {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 1rem;
  width: 90%;
}

.search-bar input {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.259);
  font-size: 1rem;
  height: 35px;
  padding: 0 0.5rem;
  width: 100%;
}

.search-bar input:focus {
  outline: none;
}

.search-bar button {
  background-color: #3a83c3;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  width: 110px;
}

@media (min-width: 768px) {
  .search-bar {
    margin: 0 auto;
    width: 500px;
  }
}

@media (min-width: 1024px) {
  .name-search {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }

  .site-name {
    padding: 0;
  }

  .search-bar {
    margin: 0;
    justify-content: flex-end;
    padding: 0;
  }

  .search-bar input {
    box-sizing: border-box;
    font-size: 0.8rem;
    height: 30px;
    width: 240px;
  }

  .search-bar button {
    font-size: 0.75rem;
    height: 30px;
    width: 80px;
  }
}
