.container {
  overflow: hidden;
}

.site-name {
  font-size: 1rem;
  padding: 1rem 0;
}

.site-name h1 {
  margin: 0;
  text-align: center;
}

/*---PESQUISA---*/
.search {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 1rem;
  width: 90%;
}

.search input {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.259);
  font-size: 1rem;
  height: 35px;
  padding: 0 0.5rem;
  width: 100%;
}

.search input:focus {
  outline: none;
}

.search button {
  background-color: #3a83c3;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  width: 110px;
}

/*---ATUAL---*/
.forecast-current {
  background-color: #fff;
  box-sizing: border-box;
  margin: 2rem auto;
}

.forecast-current p {
  margin: 0;
}

.current-city {
  align-items: center;
  background-color: #3a83c3;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  height: 25px;
  padding: 0 1.5rem;
}

.current-city p {
  font-size: 0.8rem;
  font-weight: 600;
}

.current-details {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.current-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.current-info p {
  margin: 0;
}

.info-hour {
  font-size: 1.2rem;
  font-weight: 600;
  padding-bottom: 0.4rem;
}

.info-temp {
  font-size: 3rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.info-plus {
  color: #3a83c3;
}

.current-image img {
  width: 150px;
}

/*---CONTAINER DOS DIAS----*/
.forecast {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.2rem;
}

/*---CONTAINER GERAL DOS DIAS---*/
.forecast-day {
  align-items: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.forecast-date {
  align-items: center;
  background-color: #3a83c3;
  color: #fff;
  display: flex;
  justify-content: center;
  height: 25px;
  width: 100%;
}

.forecast-date p {
  margin: 0;
}

/*---IMAGEM---*/
.forecast-image {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.forecast-image img {
  width: 75px;
}

.forecast-image p {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}

/*---CONTAINER DETALHES---*/
.forecast-details {
  align-items: start;
  display: flex;
  flex-direction: column;
}

/*---TEMPS---*/
.forecast-temp {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  justify-content: center;
  padding-bottom: 1rem;
}

.temp-min {
  align-items: center;
  display: flex;
  gap: 0.4rem;
}

.temp-min svg {
  color: #3a83c3;
}

.temp-max {
  align-items: center;
  display: flex;
  gap: 0.4rem;
}

.temp-max svg {
  color: #d9534f;
}

/*---CHUVA---*/
.rain-details {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.rain-details svg {
  color: #3a83c3;
}

@media (min-width: 768px) {
  .search {
    margin: 0 auto;
    width: 500px;
  }

  .forecast-current {
    align-items: center;
    width: 500px;
  }

  .forecast {
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .name-search {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }

  .site-name {
    padding: 0;
  }

  .search {
    margin: 0;
    justify-content: flex-end;
    padding: 0;
  }

  .search input {
    box-sizing: border-box;
    font-size: 0.8rem;
    height: 30px;
    width: 240px;
  }

  .search button {
    font-size: 0.75rem;
    height: 30px;

    width: 80px;
  }

  .forecast-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    padding: 2rem 0;
  }

  .forecast-current {
    margin: 0;
  }

  .current-details {
    height: calc(100% - 25px);
    justify-content: space-between;
    padding: 0 1.5rem;
  }

  .info-hour {
    font-size: 1.5rem;
  }

  .info-temp {
    font-size: 3.5rem;
  }

  .info-plus {
    font-size: 1.1rem;
  }

  .current-image {
    align-items: center;
    display: flex;
  }

  .current-image img {
    width: 180px;
  }

  .forecast-details {
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem 0;
    width: 100%;
  }

  .forecast {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  .forecast-day {
    width: 300px;
  }

  .forecast-temp {
    gap: 0.5rem;
    padding: 0;
  }

  .temps {
    display: flex;
    gap: 1rem;
  }
}
